[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djoser = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}
django-debug-toolbar = "*"
django = "*"
psycopg2 = "*"
markdown = "*"
face-recognition = "*"
setuptools = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
